<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style-layout-main.css">
    <script src="/scripts/script-main.js" type="module"></script>
    <title>Bullet Journal</title>
</head>

<body>
    <div class="menuBar">
        <ul>
            <li><a href="/main">My Journal</a></li>
            <li><a href="/calendar">My Calendar</a></li>
      <!--      <li><a href="#">Week View</a></li>
            <li><a href="#">Day View</a></li> -->
            <li><a href="#">My Settings</a></li>
            <li><a href="/auth/logout">Sign Out</a></li>
        </ul>
    </div>
    <div class="flexbox-container">
    <div class="flexbox-item sidebar">
        <ul class="journals addDelete">
            <li><button><a href="/main/add/journal">Add Journal</a></button></li>
            <li><button>Delete</button></li>
        </ul><br>
        {{#each journals}}
            <div class="journal-item">
                <button><span>&#9662;</span></button> <a href="/main/journal/{{journalId}}">{{title}}</a>
                <button><a href="/main/add/{{journalId}}/page">Add Page</a></button>
                <form action="/main/journal/{{journalId}}" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit">Delete</button>
                </form>
                
                <ul>
                    {{#each pages}}
                        <li><a href="/main/page/{{pageId}}">{{pageTitle}}</a></li>
                        <form action="/main/page/{{pageId}}" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit">Delete</button>
                        </form>
                    {{/each}}
                </ul>
                <br><br>
            </div>
        {{/each}}
        <!-- <div class="search">
            <input type="text">
        </div>
        
        <div class="buttons">
            <button>Add</button>
            <button>Delete</button>
        </div> -->
    </div>
    <div class="flexbox-item viewarea">
       <!-- <p>test</p> -->
       {{{body}}}
    </div>
</div>
</body>
</html>